.bonus {
  margin-top: 62px;
}

.bonus__list {
  display: flex;
  align-items: center;
  justify-content: center;

  li + li {
    margin-left: 35px;
  }
}

.bonus__tab {
  width: 260px;
  height: 71px;
  background-blend-mode: luminosity;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%);
  background-color: rgba(163, 163, 163, 1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.bonus__banner {
  position: relative;
  margin: 142px 0;
  height: 300px;
  border-radius: 12px;
}

.bonus__banner-swiper {
  height: 100%;
  border-radius: 12px;
}

.bonus__banner-slide {
  background: #5A5172;
}
