.bonus {
  margin-top: 62px;
}

.bonus__list {
  display: flex;
  align-items: center;
  justify-content: center;

  li + li {
    margin-left: 35px;
  }
}

.bonus__tab {
  width: 260px;
  height: 71px;
  background-blend-mode: luminosity;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%);
  background-color: rgba(163, 163, 163, 1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.bonus__banner {
  position: relative;
  margin: 142px 0;
  height: 300px;
  border-radius: 12px;

  &.disable {
    display: none;
  }
}

.bonus__banner-swiper {
  height: 100%;
  border-radius: 12px;
}

.bonus__banner-slide {
  background: #5A5172;
}

.bonus__item-descr {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.bonus__item-btn {
  margin-top: 50px;
  width: 220px;
  height: 46px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #684c44;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #04AE34;
  background-blend-mode: luminosity, normal;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  &:hover {
    background-blend-mode: luminosity, normal;
    box-shadow: 0px 0px 20px rgba(198, 106, 254, 0.25);
    border-radius: 8px;
  }

  &:active {
    opacity: 0.75;
    box-shadow: inset 0px 0px 20px #000000;
  }
}

.bonus__content {
  margin-top: 54px;
}

.bonus__item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.bonus__progress {
  margin-top: 30px;
}

.bonus__active-item +.bonus__active-item {
  margin-top: 52px;
}

.bonus__avaliable {
  max-height: 503px;
  padding-right: 20px;
  width: 103%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #72564C;
    border: 1px solid #8E7970;
    background-clip: padding-box;
    box-shadow: none;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #968175;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    width: 14px;
  }
}

.bonus__avaliable-item {
  min-height: 200px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 30px;

  &:last-child {
    border: none;
  }
}

.bonus__avaliable-item +.bonus__avaliable-item {
  margin-top: 36px;
}
