.enter {
  padding-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__center {
    justify-content: center;
  }

  &__btn {
    background: linear-gradient(180deg, rgba(180, 108, 255, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #1B1328;
    border-radius: 12px;
    border: 6px solid #684C44;
    box-shadow: inset 0px 0px 10px rgba(11, 7, 17, 0.5);
    border-image-source: linear-gradient(0deg, #684C44, #684C44),linear-gradient(180deg, rgba(208, 183, 146, 0.3) 0%, rgba(112, 95, 81, 0) 100%);
    border-image-slice: 1;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0px 0px 20px rgba(198, 106, 254, 0.25);
      transform: transition 0.3s ease-in-out;
    }

    &:active {
      opacity: 0.75;
      box-shadow: none;
    }
  }

  &__login {
    margin-right: 10px;
  }

  &__login-btn {
    padding: 15px 43px 11px 68px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/log.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 43px;
    }
  }

  &__reg-btn {
    padding: 15px 32px 11px 58px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/reg.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 31px;
    }
  }

  &__cashbox-btn {
    padding: 15px 37px 11px 61px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/cashbox.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 31px;
    }
  }

  &__profile-btn {
    padding: 15px 37px 11px 61px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/profile.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 31px;
    }
  }

  &__info {
    display: flex;
  }

  &__info-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  &__info-decoration {
    margin-left: 5px;
    color: #C5B873;

    &--current {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


