.games {
  margin-top: 42px;
  height: 1304px;
  background-color: #1B1328;
  border: 4px solid #867069;
  border-radius: 12px;
  padding: 85px 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &__item {
    width: 361px;
    height: 244px;
    margin-bottom: 60px;

    &:hover {
      .games__item-img {
        opacity: 1;
      }
    }
  }

  &__item-icon {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/border.png");
      left: -35px;
      top: -17px;
      width: 400px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__item-img {
    display: block;
    width: 284px;
    height: 159px;
    position: relative;
    opacity: 0.75;
  }

  &__item-information {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-info {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &__item-status {
    height: 26px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 13px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    position: relative;

    &--new {
      width: 59px;
      background: #ED5A5A;

      position: relative;
      z-index: 5;
    }

    &--demo {
      width: 62px;
      background: #04AE34;
      border-radius: 4px;
      margin-left: -5px;
    }

    &--reg {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #fff;
      width: 360px;
      height: 148px;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25), inset -5px -5px 5px rgba(49, 41, 56, 0.15);
      border-radius: 8px;
    }
  }

  &__item-title {
    text-transform: uppercase;
  }
}

