.history {
  margin-top: 47px;
  justify-content: initial;
}

.history__head {
  display: flex;
  justify-content: space-between;
  width: 107%;
  padding-left: 20px;
}

.history__bottom {
  width: 107%;
  height: 580px;
  padding-left: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #72564C;
    border: 1px solid #8E7970;
    background-clip: padding-box;
    box-shadow: none;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #968175;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    width: 14px;
  }
}

.history__head-row {
  width: 180px;
  text-align: center;
  margin-bottom: 5px;
}


.history__table {
  border-radius: 12px;
  background-color: #fff;
  width: 750px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #7D7786;
}

.history__table-row {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  &::after {
    content: "";
    position: absolute;
    border-top: 1px dashed #7D7786;
    width: 97%;
  }

  &:first-child::after {
    border-top: none;
  }
}

.history__row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.history__row-item {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    flex-direction: column;
  }

  &:nth-child(even) {
    background-color:#F8F8F8;
  }

  &:nth-child(2) {
    font-weight: 700;
  }
}

