.main {
  background-image: url("../img/background.png");
  height: 2380px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__logedin {
    min-height: 2520px;
  }


  &__head {
    background-image: url("../img/logo.png");
    height: 689px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/diamond.png");
    width: 80px;
    height: 78px;
    bottom: 130px;
    left: 250px;
    background-size: cover;
    mix-blend-mode: screen;
    transform: matrix(0.98, 0.17, -0.19, 0.99, 0, 0);
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/diamond.png");
    width: 129px;
    height: 129px;
    bottom: 80px;
    right: 565px;
    background-size: cover;
    mix-blend-mode: screen;
    transform: translate(10px , 10px);
    z-index: 3;
  }
}
