.main {
  background-image: url("../img/background.png");
  height: 2380px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__head {
    background-image: url("../img/logo.png");
    height: 689px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
