.marquee {
  &__news {
    display: flex;
    align-items: center;
    height: 55px;
    background-color: #251433;
    overflow: hidden;
  }

  &__news-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: animate 20s linear infinite;
  }

  &__news-text {
    min-width: 100%;
    color: #c9c9c9;
    text-transform: uppercase;
    padding: 0 20px;

    span {
      color: #ed5a5a;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
