.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(24, 16, 31, 0.9);
  backdrop-filter: blur(10px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
	width: auto;
	margin: 50px auto;
	display: none;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 20px;
	cursor: default;
	text-align: left;
  background: #1B1328;
  border: 6px solid #684c44;
  border-radius: 12px;
}

@media (max-width: 1024px) {
	.modal__container {
		width: 90%;
	}
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.modal__reg {
  width: 600px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal__reg-text {
  width: 409px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;

  span {
    font-weight: 700;
  }
}

.modal__reg-link {
  color: #C5B873;
  text-decoration: underline;
}

.modal__close {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 48px;
  height: 48px;
  background: linear-gradient(180deg, rgba(247, 137, 137, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #AE0419;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-size: 41px;
  line-height: 21px;
  border: 3px solid #684c44;
  color: #fff;
  box-shadow: inset 0px 0px 10px rgba(11, 7, 17, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    transition: hover 0.3s;
  }

  &:active {
    opacity: 0.75;
  }
}

.modal__enter {
  width: 600px;
  height: 800px;
  padding: 30px 28px;
}

.modal__title {
  font-size: 48px;
  line-height: 63px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 39px;
}

.modal__tabs-list {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.tabs__item + .tabs__item {
  margin-left: 20px;
}

.modal__tab {
  width: 220px;
  height: 46px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #684C44;
  background-blend-mode: luminosity, normal;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #A3A3A3;
}

.modal__tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.modal__content-inner {
  min-height: 363px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__inner-top,
.modal__inner-middle,
.modal__inner-bottom {
  width: 100%;
}

.modal__inner-bottom {
  margin-top: 45px;
}

.modal__inner-middle {
  padding: 85px 0 155px;
}

.modal__inner-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
}

.modal__inner-text {
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}

.modal__inner-input {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 0 18px;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #DAD7D7;

  &::placeholder {
    color: #DAD7D7;
    text-transform: uppercase;
  }
}

.modal__content-btn {
  width: 260px;
  height: 71px;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #04AE34;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0px 0px 20px rgba(134, 255, 168, 0.25);
  }

  &:active {
    color: rgba(255, 255, 255, 0.75);
  }
}

.modal__rewind-btn {
  margin: 22px auto 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #C5B873;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__cashbox {
  width: 840px;
  height: auto;
  padding: 30px 47px;
}

.modal__inner-btn {
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #04AE34;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  background-blend-mode: luminosity, normal;
  border-radius: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 20px rgba(134, 255, 168, 0.25);
  }

  &:active {
    color: rgba(255, 255, 255, 0.75);

    &::after {
      opacity: 0.75;
    }
  }
}

.modal__inner-btn + .modal__inner-btn {
  margin-top: 40px;
}

.modal__btn-sber::after {
  content: "";
  position: absolute;
  background-image: url("../img/sber.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  top: 50%;
  transform: translateY(-50%);
  left: 165px;
}

.modal__btn-crypto {
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #A3A3A3;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/crypto.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
    left: 185px;
  }
}

.modal__btn-qiwi::after {
  content: "";
  position: absolute;
  background-image: url("../img/qiwi.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  top: 50%;
  transform: translateY(-50%);
  left: 235px;
}

.modal__qiwilimits {
  width: 600px;
  height: auto;
  padding: 50px 62px;
}

.modal__qiwilimits-item {
  font-weight: 400;
  list-style-type: disc;
}

.modal__qiwilimits-item + .modal__qiwilimits-item {
  margin-top: 20px;
}

.modal__new {
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;

  .modal__reg-text {
    width: 475px;
  }
}

.modal__new-btn {
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #04AE34;
  background-blend-mode: luminosity, normal;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.modal__request {
  width: 600px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

  .modal__reg-text {
    width: 475px;
  }
}
