.sberbank__bonuses {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sberbank__bonus {
  width: 257px;
  margin: 16px auto 0;
}

.sberbank__bonus-checkbox {
  height: 40px;
  border-bottom: 1px solid #A3A3A3;
  margin-bottom: 20px;
  position: relative;
}

.sberbank__checkbox-input {
  appearance: none;
  position: absolute;
}

.sberbank__checkbox-label {
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border: 3px solid #C5B873;
    border-radius: 6px;
    top: 3px;
    left: -37px;
    z-index: 1;
    transition: all .1s linear;
  }

  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='%23C5B873' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.00003 8.58609L1.70703 5.29309L0.29303 6.70709L5.00003 11.4141L14.707 1.70709L13.293 0.293091L5.00003 8.58609Z' fill='white'/%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: -32px;
    top: 8px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
  }
}

.sberbank__checkbox-input:checked + .sberbank__checkbox-label::before {
  background: transparent;
  border: 3px solid #C5B873;
  border-radius: 6px;
}

.sberbank__checkbox-input:checked + .sberbank__checkbox-label::after {
  opacity: 1;
}

.sberbank__bonus-info {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sberbank__btn {
  margin-top: 30px;
}
