.tabs {
	position: relative;
}

// .tabs__btn:hover {

// }

.tabs__btn--active {
	pointer-events: none;
  background: linear-gradient(180deg, rgba(108, 255, 229, 0.5) 0%, rgba(45, 25, 61, 0.229167) 69.27%, rgba(0, 0, 0, 0) 100%), #751C9E;
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}
