@import "blocks/marquee.scss";
@import "blocks/footer.scss";
@import "blocks/main.scss";
@import "blocks/enter.scss";
@import "blocks/banner.scss";
@import "blocks/swiper.scss";
@import "blocks/games.scss";
@import "blocks/modal.scss";
@import "blocks/tabs.scss";
@import "blocks/history.scss";
@import "blocks/more.scss";
@import "blocks/profile.scss";
@import "blocks/bonus.scss";
@import "blocks/settings.scss";

