@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
       url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

