html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
  color: #fff;
}

.body__scroll {
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  border-style: none;
  object-fit: cover;
  font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  color: var(--dark-color);

  &__center {
    text-align: center;
    max-width: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(24, 16, 31, 0.9);
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 10;
}

.panel {
  z-index: 20;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}
